body {
	margin:0; 
	padding:0; 
	font-family:verdana, arial, sans-serif; 
	font-size:80%; 
	color:#000; 
	text-align:center;
	background-color:#DDDDDD;
}

p {
	margin:0.2em 0 1.2em 0; 
	padding:0.3em;
}

h1 {
	padding:0; 
	margin:0;
	font-size:t:normal; 
	font-style:italic; 
	color:#88c6c5; 
	
	font-family:"Trebuchet MS", verdana, arial, sans-serif;
}

h2 {
	background-color:#DDDDDD; 
	color:#3B4471; 
	font-size:125%; 
	font-weight:normal; 
	margin:0.2em; 
	padding:0; 
	font-style:italic; 
	font-family:"Trebuchet MS", verdana, arial, sans-serif;
}

h3 {
	padding:0; 
	margin:0;
	font-size:150%; 
	font-weight:normal; 
	font-style:italic; 
	color:#003366; 
	font-family:"Trebuchet MS", verdana, arial, sans-serif;
}

div {
	margin:0; 
	padding:0; 
	display:block;
}

a:link, a:visited {
	/*color:#88c6c5;*/ 
    color: #0026ff;
	text-decoration:underline;
}

a:hover {
	/*color:#88c6c5;*/ 
    color: #0026ff;
	text-decoration:none;
}

a:active {
	/*color:#88c6c5;*/ 
    color: #0026ff;
	text-decoration:underline;
}

.container {
	background-color:#FFFFFF; 
	margin:0 auto 0 aurline;
}

.container {
	background-color:#FFFFFF; 
	margin:0 auto 0 auto; 
	padding:0;
	width:80%;
}

.titleblock {
	padding:1em; 
	margin:30;
	text-align:center;
	background-image:url(logo.gif); 
	background-repeat:no-repeat; 
	background-position:right bottom;
}

.titleblock p {
	text-indent:4em; 
	/* color:#3B4471; */
	color:#003366; 
	font-size:125%; 
}

ul.navbar {
	list-style-type:none; 
	float:left; 
	display:block; 
	width:100%; 
	line-height:1.5em; 
	clear:both; 
	margin:0; 
	padding:0; 
	background-color:#88c6c5;
}

ul.navbar li {
	display:inline;
}

a.nav:link, a.nav:visited {
	display:block; 
	float:left; 
	width:25%; 
	padding:1.2em 0 1.2em 0; 
	margin:0; 
	text-decoration:none; 
	background-color:#88c6c5; 
	color:#FFFFFF;
}

a.nav:hover {
	display:block; 
	float:left; 
	width:25%; 
	padding:1.2em 0 1.2em 0; 
	margin:0; 
	text-decoration:none; 
	background-color:#dfd5d8; 
	color:#FFFFFF;}

a.nav:active {
	display:block; 
	float:left; 
	width:25%; 
	padding:1.2em 0 1.2em 0; 
	margin:0; 
	text-decoration:none; 
	background-color:#88c6c5; 
	color:#FFFFFF;
}

.rightcontainer {
	float:right; 
	clear:both; 
	width:13em; 
	margin:1em 0 0 0; 
	padding:0;
}

.rightbox {
	margin:0.5em; 
	padding:0.3em; 
	border:1px solid #999999; 
	text-align:center;
}

.rightcontainer h2 {
	text-align:left; 
	padding:0 0 0 1.5em;
}

.linkbox a {
	display:block;
}

.content {
	clear:left; 
	text-align:left; 
	margin:1.2em 1.5em 0 0; 
	padding:1em 1ex 1em 1.5ex;
}

.content h2 {
	text-indent:3em;
}

.footer {
	color:#000; 
	font-size:75%; 
	margin:2.5em 0.2em 0.5em 0.5em; 
	padding:0.8em; 
	border-top:1px solid #999999; 
	text-align:left; 
	clear:both;
}

.footer .right {
	float:right; 
	clear:right; 
	text-align:right;
}

.footer p {
	margin:0;
}

.section_box { 
    border: #3c5a86 1px dotted; 
}

.section_box #section_title { 
    position: relative; 
    top : -0.75em;
    margin-left: 1em;
    display: inline; 
    background-color: white;
	color:#003366; 
	font-size: 125%;
	font-weight:bold
}

.section_box #section_content {
	padding:1em; 
    vertical-align: top;
}


.grid
{
	border:1px solid black;
	border-collapse:collapse;
	font-size:90%;
/*	tr.last {border-bottom: 1px solid #000; */
}

.grid tr:nth-child(even) {background: #FFF}
.grid tr:nth-child(odd) {background: #EEE}
	
.grid td {
        border-bottom: 1px dotted black;
		 border-right: 1px dotted #DDD;
		 border-collapse:collapse;
 }	
	
.grid tr:first-child td {
        border-bottom: 1px solid black;
		 font-size:110%;
 }
	