/* A Free Design by Bryant Smith (bryantsmith.com) */



body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #EEEFE4;
    background-image:url(../../Images/background.png);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic h1
{
	position:absolute;
text-align:right;
color:#F8FDEE;
font-size:30px;
color:#FFF;	
left:60px;
top:20px;
}


#mainpic h2
{
position:absolute;
text-align:right;
color:#E1E7F7;	
left:60px;
top:50px;
}

#mainpic
{
background-image:url(../../Images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:54px;	
}



.off
{
color:#3A6028;
	
}




#menu
{
background-image:url(../../Images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:left;
clear:both;
}

#content
{
width:880px;
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BEE399;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}

.section_box { 
    border: #3c5a86 1px dotted; 
}

.section_box #section_title { 
    position: relative; 
    top : -0.75em;
    margin-left: 1em;
    display: inline; 
    background-color: white;
	color:#003366; 
	font-size: 125%;
	font-weight:bold
}

.section_box #section_content {
	padding:1em; 
    vertical-align: top;
}


.grid
{
	border:1px solid black;
	border-collapse:collapse;
	font-size:90%;
/*	tr.last {border-bottom: 1px solid #000; */
}

.grid tr:nth-child(even) {background: #FFF}
.grid tr:nth-child(odd) {background: #EEE}
	
.grid td {
        border-bottom: 1px dotted black;
		 border-right: 1px dotted #DDD;
		 border-collapse:collapse;
 }	
	
.grid tr:first-child td {
        border-bottom: 1px solid black;
		 font-size:110%;
 }